cython
aiohappyeyeballs
accelerate
aiohttp
aiosignal
asttokens
attrs
cairocffi
CairoSVG
certifi
cffi
charset-normalizer
comm
contourpy
cssselect2
cycler
datasets
debugpy
decorator
defusedxml
dill
editdistance
executing
fastjsonschema
filelock
fonttools
frozenlist
fsspec
greenlet
huggingface-hub
idna
ipykernel
ipython
ipywidgets
itables
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_widgets
jupytext
kaleido
kiwisolver
lightning
lightning-utilities
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdit-py-plugins
mdurl
mpmath
msgpack
multidict
multiprocess
nbformat
nest-asyncio
networkx
numpy
bertopic
packaging
pandas
parso
patsy
pexpect
pillow
platformdirs
plotly
pnglatex
prompt_toolkit
propcache
psutil
ptyprocess
pure_eval
pyarrow
pycparser
Pygments
pynvim
pyparsing
pyperclip
python-dateutil
pytorch-lightning
pytz
PyYAML
pyzmq
referencing
regex
requests
rpds-py
safetensors
scikit-learn
scipy
setuptools
six
stack-data
statsmodels
sympy
tenacity
threadpoolctl
tinycss2
tokenizers
torch
torchmetrics
tornado
tqdm
traitlets
transformers
typing_extensions
tzdata
Unidecode
urllib3
wcwidth
webencodings
widgetsnbextension
xxhash
yarl
nltk
gensim
scikit-learn
wordcloud
krippendorff
backoff
trl
wandb
vllm
bitsandbytes
peft
